<a href="/shelters">Shelters Index</a>

<div class="shelter-main-block">
  <div class="shelter-profile">
    <div class="shelter-image-block">
      <%= image_tag("https://via.placeholder.com/300") %>
    </div>
    <div class="shelter-data-block">
      <h3 class="shelter-data-block-name"><%= @shelter.name %></h3>
      <p class="shelter-data-block-address">address: <%= @shelter.address %></p>
      <p class="shelter-data-block-region"><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
      <%= link_to "See Our Pets", "/shelters/#{@shelter.id}/pets" %>

      <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
      <%= link_to "Delete", "/shelters/#{@shelter.id}", method: :delete %>
    </div>
  </div>
</div>
