<h1 class="page-header-title">New Kiddo</h1>

  <div class="main-form-block">
    <%= form_tag("/shelters/#{@shelter_id}/pets", method: :post) do %>
        <%= label_tag :profile_img %>
        <%= text_field_tag :profile_img %>

        <%= label_tag :name %>
        <%= text_field_tag :name %>

        <%= label_tag :description %>
        <%= text_field_tag :description %>

        <%= label_tag :approximate_age %>
        <%= text_field_tag :approximate_age %>

          <div class="radio-toolbar">
            <%= radio_button_tag(:sex, "male") %>
            <%= label_tag(:sex_male, "Male") %>
            <%= radio_button_tag(:sex, "female") %>
            <%= label_tag(:sex_female, "Female") %>
          </div>

        <%= submit_tag "Submit" %>
      <% end %>
    </div>
