<h1 class="page-header-title">All Pets</h1>

<div class="pet-matrix" >
  <% @pets.each do |pet| %>
    <div class="pet-block">
      <div class="pet-image-block">
        <%= image_tag(pet.profile_img) %>
      </div>

      <div class="pet-data_block">
        <h3 class="pet-data-block-name"><%= link_to pet.name, "/pets/#{pet.id}" %></h3>
        <p class="pet-data-block-age">age: <%= pet.approximate_age %> </p>
        <p class="pet-data-block-sex">sex: <%= pet.sex %></p>
        <p class="pet-data-block-shelter">current shelter: <%= link_to pet.current_shelter, "/shelters/#{pet.shelter_id}" %></p>
        <%= link_to "Update Pet", "/pets/#{pet.id}/edit" %>
        <%= link_to "Delete", "/pets/#{pet.id}", method: :delete %>
      </div>
    </div>
  <% end %>
</div>
