<a href="/pets" style="padding: 1em"><< Pets Index</a>

  <div class="pet-main-block">
    <div class="pet-profile">
      <div class="pet-image-block">
        <%= image_tag(@pet.profile_img) %>
      </div>

      <div class="pet-data-block">
        <h3 class="pet-data-block-name"><%= @pet.name %></h3>
        <p class="pet-data-block-age">about: <%= @pet.description %> </p>
        <p class="pet-data-block-sex">age: <%= @pet.approximate_age %></p>
        <p class="pet-data-block-sex">sex: <%= @pet.sex %></p>
        <p class="pet-data-block-shelter">adoption status: <%= @pet.adoption_status %></p>
        <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
        <%= link_to "Delete", "/pets/#{@pet.id}", method: :delete %>
      </div>
    </div>
  </div>
